node_modules
dist
build
.next
.turbo
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.pnpm-store
services/auth-service/node_modules
services/auth-service/dist
services/auth-service/build
services/auth-service/.next
services/auth-service.turbo
services/auth-service.coverage
services/auth-service.env
services/auth-service.env.local
services/auth-service.env.*.local
services/auth-service*.log
services/auth-service/.DS_Store
services/auth-service/.idea
services/auth-service/.vscode/*
services/account-service/node_modules
services/account-service/dist
services/account-service/build
services/account-service/.next
services/account-service.turbo
services/account-service.coverage
services/account-service.env
services/account-service.env.local
services/wallet-service/node_modules
services/wallet-service/dist
services/wallet-service/build
services/wallet-service/.next
services/transaction-service/node_modules
services/transaction-service/dist
services/transaction-service/build
services/transaction-service/.next
